.form-group {
    margin-bottom: 1rem;
    text-align: right;
}
.form-control{
    text-align: right;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    text-align: center;
    width: 20%;
    margin-left: 40%;
}
label{
    width: 100px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: row-reverse;
    margin: auto;
}
/*.example-container {
    width: 100%;
    height: 100%;
    margin: 10px;
   // border: 1px solid #555;
  }*/

  .example-container {
    width: 100%;
    height: 100%;
    margin: 10px;
    //border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
/*  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }*/
  .mat-drawer-content[_ngcontent-c2] {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    overflow: auto;
    width: 84%;
    margin-right: 45%;
    margin-left: 160px;
    /* padding-left: 10%; */
}

.mat-drawer.mat-drawer-side {
    z-index: 2;
    /* height: 107%; */
    width: 14%;
    background: #D3D3D3;
    border-right: 2px solid gray;
}