/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0px !important;
    background-color: white !important;
}
body {
    background-color:  #d9d9d9;
}